<h1>{{ title }}</h1>
<div class="breadcrumbs">{{ breadcrumb }}</div>
<div class="summary">{{ summary }}</div>
{% if image %}
  <div class="image">
    <img src="{{ image }}">
    <div class="caption">
      {{ caption }}
    </div>
  </div>
{% endif %}
