{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}
{{ attach_library('frontend/vertical_tabs') }}
{{ attach_library('edwt/nav') }}

{% if titles %}
  <div class="vertical-tabs d-flex align-items-start row">
    <div class="nav flex-column nav-pills col-md-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      {% for title in titles %}
        {% set selected = 'false' %}
        {% if loop.index == 1 %}
          {% set selected = 'true' %}
        {% endif %}

        <button class="nav-link {% if loop.index == 1 %}active{% endif %}" id="v-pills-{{ loop.index }}-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-{{ loop.index }}"
                type="button" role="tab" aria-controls="v-pills-{{ loop.index }}" aria-selected="{{ selected }}">
          {{ title }}
        </button>
      {% endfor %}
    </div>

    <div id="content" class="tab-content col-md-9">
      {% for idx, item in items %}
        {% set classes = [
          'tab-pane',
          'fade',
          loop.index == 1 ? 'show',
          loop.index == 1 ? 'active',
        ] %}

        {% set expanded = 'false' %}
        {% if loop.index == 1 %}
          {% set expanded = 'true' %}
        {% endif %}

        <div {{ item.attributes.addClass(classes) }} id="v-pills-{{ loop.index }}" role="tabpanel"
                                                     aria-labelledby="v-pills-{{ loop.index }}-tab">
          <div id="heading-A">
            <div class="h5 mb-15">
              <a data-bs-toggle="collapse" href="#collapse-acc-{{ loop.index }}" aria-expanded="{{ expanded }}"
                 aria-controls="collapse-acc-{{ loop.index }}">
                {{ titles[idx] }}
              </a>
            </div>
          </div>
          <div id="collapse-acc-{{ loop.index }}" class="collapse {% if loop.index == 1 %}show{% endif %}" data-bs-parent="#content"
               aria-labelledby="collapse-acc-{{ loop.index }}">
            <div class="card-body row">
              {{ item.content }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
