<div class="row">
  <div class="parties-map-menu col-3">
    <h3 class="title active" id="global">{{ 'ICCWC Map'|t }}</h3>
{#    {% for id, region in list_with_regions %}#}
{#      <h3 class="region" id="region-{{ id }}"> {{ region }} </h3>#}
{#    {% endfor %}#}
    <div class="legend">
      {% for id, category in categories %}
        <span style="color: {{ category.color }}">{{ category.name|t }}</span>
      {% endfor %}
    </div>
  </div>
  <div class="col-9">
    <div class="parties-map-overview" id="parties-map-overview" style="min-height: 500px">
      {#    JS will render here the map #}
    </div>
    <div class="disclaimer-block">{{ disclaimer }}</div>
  </div>
</div>
