{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
  {% block content %}
  <div class="col-md-8" >{{ content.field_description.0}}
    <a href="{{ content.field_button_link.0["#title"] }}">{{ content.field_button_text }}</a>
  </div>
  <div class="col-md-4" >
    {% if content.field_video.0 %}
    {{ content.field_video.0 }}
  {% elseif content.field_media_image.0 %}
    {{ content.field_media_image.0 }}
  {% endif %}
{#        {{ dump(content) }}#}
  {% endblock %}
  </div>
{% endblock paragraph %}
