{{ attach_library('frontend/content_teasers') }}

{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
<article{{ attributes.addClass(classes) }}>
  <div class="row" {{ content_attributes.addClass('node__content') }}>
    <div class="col-lg-3 col-md-4">
      {% if content.field_external_url['0']["#title"]  %}
      <a href="{{ content.field_external_url['0']["#title"]}}"> {{ content.field_image }}</a>
        {% else %}
      {{ content.field_image }}
        {% endif %}
      </div>
    <div class="col-lg-9 col-md-8">
      {{ title_prefix }}
      {% if label and not page %}
        <h3{{ title_attributes }}>
          {{ label }}{{ content.field_amount }}
        </h3>
      {% endif %}
      {{ title_suffix }}
      <div>
        {{ content.body }}
      </div>
    </div>
  </div>
</article>
